<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/taptalkscreenlogo"
        android:allowBackup="true"
        android:label="TapTalk"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Launcher -->
        <activity
            android:name="com.example.taptalk.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register screen -->
        <activity android:name="com.example.taptalk.RegisterActivity" />

        <!-- Login screen -->
        <activity android:name="com.example.taptalk.LoginActivity" />

        <!-- ACC board -->
        <activity android:name=".AccActivity" />

        <!-- Keyboard -->
        <activity android:name=".KeyboardActivity" />

        <!-- Fast settings -->
        <activity android:name=".FastSettingsActivity" />

        <!-- Settings -->
        <activity android:name=".SettingsActivity" />

        <!-- Create card -->
        <activity android:name=".CreateCardActivity" />

        <!-- Custom words manager -->
        <activity android:name=".CustomWordsManagerActivity" />


    </application>
</manifest>